/* helps ng-cloak work better */
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

body {
  background: whitesmoke;
}

/* navs */
nav {
  background-color: #512da8 !important;
}
footer {
  padding: 0 !important;
}
.footer-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.copyright {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: lighter;
}
.footer-link {
  color: white;
}
.footer-link:hover {
  color: lightgrey;
}
::-webkit-input-placeholder {
  color: white;
}

/* votes styling */
.votes i {
  margin: auto 10px;
  cursor: pointer;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;
}
.votes {
  font-size: 2rem;
}
.positive {
  color: darkgreen;
}
.negative {
  color: darkred;
}
.divider {
  margin: auto 10px;
  background-color: white;
}

/* comment styling */
.comment-link {
  color: dimgrey;
  text-decoration: none;
  cursor: pointer;
}
.comment-submit {
  margin: auto;
}
.comment-buttons {
  padding-left: 10px;
}

/* form styling */
input.has-error {
  border-bottom: 1px solid darkred !important;
  box-shadow: 0 1px 0 0 darkred !important;
}
.has-error, .has-error label {
  color: darkred !important;
}
.top-of-page {
  margin-top: 25px;
}

/* add post btn */
.btn-floating {
  position: fixed;
  right: 5%;
  bottom: 5%;
}

/* post styling */
.post-content h5, .post-content p {
  margin: auto 5px;
}
.post-content h5 {
  margin-top: 10px;
}
.fill {
  display: flex;
  align-items: center;
  min-width: 33%;
}
.responsive-image {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%
}
.row {
  width: 100% !important;
}

/* change default toast location on desktop */
@media (min-width: 993px) {
  #toast-container {
    top: auto !important;
    right: auto !important;
    bottom: 10%;
    left: 7%;
  }
}

/* fade comments on open and close */
.fade.ng-hide {
  transition: 0.2s linear all;
  opacity: 0;
}
.fade {
  transition: 0.2s linear all;
  opacity: 1;
}

/* animate on sort and search */
.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
  -webkit-transition: all linear 0.7s;
  transition: all linear 0.7s;
}
.animate-repeat.ng-enter-stagger,
.animate-repeat.ng-leave-stagger,
.animate-repeat.ng-move-stagger {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
  opacity: 0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
  opacity: 1;
}
