/* helps ng-cloak work better */
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

nav {
  background-color: #1976d2 !important;
}
.votes i {
  margin: auto 10px;
  cursor: pointer;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;
}
.head-search {
  border: none !important;
}
.head-search:focus {
  border-bottom: 1px solid white !important;
  box-shadow: none !important;
}

::-webkit-input-placeholder {
   color: white;
}

.votes {
  font-size: 2rem;
}
.positive {
  color: darkgreen;
}
.negative {
  color: darkred;
}
.divider {
  margin: auto 10px;
  background-color: white;
}
.comment-link {
  color: dimgrey;
  text-decoration: none;
  cursor: pointer;
}
.comment-submit {
  margin: auto;
}
input.has-error {
  border-bottom: 1px solid darkred !important;
  box-shadow: 0 1px 0 0 darkred !important;
}
.has-error, .has-error label {
  color: darkred !important;
}
.top-of-page {
  margin-top: 25px;
}
.post-content h5, .post-content p {
  margin: auto 5px;
}
.post-content h5 {
  margin-top: 10px;
}

.btn-floating {
  position: fixed;
  right: 5%;
  bottom: 5%;
}

/* change default toast location on desktop */
@media (min-width: 993px) {
  #toast-container {
    top: auto !important;
    right: auto !important;
    bottom: 10%;
    left: 7%;
  }
}
.fade.ng-hide {
  transition: 0.2s linear all;
  opacity: 0;
}
.fade {
  transition: 0.2s linear all;
  opacity: 1;
}
