<!DOCTYPE html>
<html lang="en" ng-app='redditClone' ng-controller="postCtrl as postController">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1, user-scalable=0">
    <title>Bramble | A place to ramble</title>
    <!-- styles -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/main.css">
  </head>
  <body ng-controller="formCtrl as formController" ng-cloak>
    <nav>
      <div class="nav-wrapper container">
        <a href="#" class="brand-logo right hide-on-small-and-down">Bramble</a>
        <a href="#" class="brand-logo right hide-on-med-and-up"><i class="tiny material-icons">call_missed</i></a>
        <!-- search bar -->
        <form>
          <div class="input-field">
            <input id="search" type="search" ng-model="postController.search" placeholder="Search Posts" required>
            <label for="search"><i class="material-icons">search</i></label>
            <i ng-click="postController.clearSearchForm()" class="material-icons">close</i>
        </div>
      </form>
      </div>
    </nav>
    <main class="container" ng-app="ngAnimate">

      <!-- add post button -->
      <a href="#" class="btn-floating btn-large waves-effect waves-light purple tooltipped" data-position="top" data-delay="40" data-tooltip="New Post" ng-click="formController.toggleFormShow()" ng-show="!formController.showNewPostForm"><i class="material-icons">add</i></a>

      <!-- new post form -->
      <div class="col s12 card-panel lime lighten-5 fade" ng-show="formController.showNewPostForm">
        <h2>New Post</h2>
        <form name="newPostForm" ng-submit="postController.addPost(newPostForm); formController.toggleFormShow()" autocomplete="off">
          <div class="col s12 input-field">
            <label for="title" ng-class="{ 'has-error' : newPostForm.title.$invalid && !newPostForm.title.$pristine}">Title</label>
            <input type="text" name="title" id="title" ng-model="postController.postTitle" ng-class="{ 'has-error' : newPostForm.title.$invalid && !newPostForm.title.$pristine}" ng-minlength="2" minlength="2" required>
          </div>
          <div class="col s12 input-field">
            <label for="imageURL" ng-class="{ 'has-error' : newPostForm.imageURL.$invalid && !newPostForm.imageURL.$pristine}">Image URL</label>
            <input type="url" name="imageURL" id="imageURL" ng-model="postController.imageURL" ng-model="postController.imageURL" ng-class="{ 'has-error' : newPostForm.imageURL.$invalid && !newPostForm.imageURL.$pristine}" required>
          </div>
          <div class="col s12 input-field">
            <label for="Pusername" ng-class="{ 'has-error' : newPostForm.Pusername.$invalid && !newPostForm.Pusername.$pristine}">Your Username</label>
            <input type="text" name="Pusername" id="Pusername" ng-model="postController.postUsername" ng-model="postController.postUsername" ng-class="{ 'has-error' : newPostForm.Pusername.$invalid && !newPostForm.Pusername.$pristine}" required minlength="3" ng-minlength="3">
          </div>
          <div class="col s12 input-field">
            <label for="description">Description</label>
            <textarea class="materialize-textarea" name="description" id="description" ng-model="postController.postDescription" ng-model="postController.postDescription"></textarea>
          </div>
          <button type="submit" class="btn waves-effect waves-light">Submit</button>
          <button type="button" ng-click="formController.toggleFormShow()" class="btn grey">Cancel</button>
        </form>
      </div>

      <!-- title and sort-by -->
      <div class="row top-of-page">
        <div class="col m6">
          <h3>{{postController.sort | makeSortPretty}}</h3>
        </div>
        <div class="col m6 input-field">
          <select id="sortby" ng-model="postController.sort">
            <option value="-score">Highest Score</option>
            <option value="score">Lowest Score</option>
            <option value="-post_time">Most Recent</option>
            <option value="post_time">Oldest</option>
            <option value="title">Title (A - Z)</option>
            <option value="-title">Title (Z - A)</option>
          </select>
          <label for="sortby">Sort</label>
        </div>
      </div>

      <!-- individual post cards -->
      <div class="col s12">
        <div class="card horizontal hoverable animate-repeat" ng-repeat="post in postController.posts | orderBy: postController.sort | filter : postController.search">
          <div class="row">
            <div class="col l4 m12 fill">
              <img class="responsive-img" ng-src="{{post.image_url}}">
            </div>
            <div class="col l8 m12 post-content">
              <h5>{{post.title}}</h5>
              <p class="votes"><i class="material-icons" ng-click="postController.upVote(post)">thumb_up</i><span ng-class="{positive : post.score > 0, negative : post.score < 0}">{{post.score}}</span><i class="material-icons" ng-click="postController.downVote(post)">thumb_down</i></p>
              <p>{{post.content}}</p>
              <br>
              <p>Posted <span time="{{post.post_time}}"></span> by <strong>{{post.poster}}</strong></p>
              <br>
              <p>
                <a class="comment-link" ng-click="showComments = !showComments"><i class="tiny material-icons">comment</i>
                <ng-pluralize count="post.comments.length"
                  when="{'0': 'No Comments',
                        '1': '1 Comment',
                        'other': '{} Comments'}">
                </ng-pluralize></a>
                <span class="divider">|</span>
                <a class="comment-link" ng-click="showAddComment = !showAddComment"><i class="tiny material-icons">mode_edit</i>
                Add Comment</a>
              </p>

              <!-- add comment -->
              <div class="col s12 fade" ng-show="showAddComment">
                <form ng-submit="postController.addComment(post, commentForm); showAddComment = !showAddComment; showComments = 'true'" name="commentForm" autocomplete="off">
                  <div class="row">
                    <div class="col m4 s12 input-field">
                      <label ng-attr-for="{{ 'username_' + post.id }}" ng-class="{ 'has-error' : commentForm.username.$invalid && !commentForm.username.$pristine}">Username</label>
                      <input type="text" name="username" ng-attr-id="{{ 'username_' + post.id }}" ng-model="postController.commentUsername" ng-class="{ 'has-error' : commentForm.username.$invalid && !commentForm.username.$pristine}" minlength="3" ng-minlength="3" required>
                    </div>
                    <div class="col m8 s12 input-field">
                      <input type="text" ng-attr-id="{{ 'comment_' + post.id }}" name="comment" ng-model="postController.commentComment" ng-class="{ 'has-error' : commentForm.comment.$invalid && !commentForm.comment.$pristine}" required>
                      <label ng-attr-for="{{ 'comment_' + post.id }}" ng-class="{ 'has-error' : commentForm.comment.$invalid && !commentForm.comment.$pristine}">Comment</label>
                    </div>
                  </div>
                  <div class="row comment-buttons">
                    <button type="submit" class="btn waves-effect orange waves-light comment-submit" />Submit</button>
                    <button type="button" class="btn waves-effect grey waves-light comment-submit" ng-click="showAddComment = !showAddComment"/>Cancel</button>
                  </div>
                </form>
              </div>

              <!-- comments -->
              <div class="col s12 fade" ng-show="showComments" class="comment-div">
                <br>
                <p ng-repeat="comment in post.comments"><strong>{{comment.commenter}}</strong> said:
                  <br>
                {{comment.comment}}
                <br>
                <br>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer class="page-footer deep-purple">
      <div class="container copyright">
        <div class="col s12 footer-text">
          <p class="white-text">
            John Berger - 2016
          </p>
        </div>
      </div>
    </footer>

    <!-- scripts -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-animate.js"></script>
    <script type="text/javascript" src="js/moment.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
  </body>
</html>
